[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
python-dotenv = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.13"
